colab-convert
einops
ipython
ipywidgets
jsonmerge
jupyterlab
jupyter_http_over_ws
kornia
matplotlib
notebook
numexpr
omegaconf
opencv-python
pandas
pytorch_lightning==1.7.7
resize-right
scikit-image==0.19.3
scikit-learn
timm
torchdiffeq
transformers==4.19.2
safetensors
albumentations
more_itertools
devtools
validators
numpngw==0.1.2
open-clip-torch==2.16.0
torchsde==0.2.5
ninja==1.11.1
xformers==0.0.16
colab-convert
clean-fid
numpy
ffmpeg-python
imageio[ffmpeg]
prefetch_generator
redis==4.5.3
accelerate==0.16.0
anyio==3.6.2
click==8.1.3
colorama==0.4.6
diffusers==0.13.1
fastapi==0.92.0
filelock==3.9.0
ftfy==6.1.1
h11==0.14.0
huggingface-hub==0.12.1
importlib-metadata==6.0.0
packaging==23.0
psutil==5.9.4
pydantic==1.10.5
pyjwt==2.6.0
pyyaml==6.0
regex==2022.10.31
scipy==1.10.1
sniffio==1.3.0
starlette==0.25.0
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.65.0
uvicorn==0.20.0
wcwidth==0.2.6
zipp==3.15.0